In [1]:
import pandas as pd

In [4]:
a=pd.read_csv("C:\\Users\\vasan\\OneDrive\\Documents\\boston_train.csv",usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])

In [5]:
df=pd.DataFrame(a)

In [6]:
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [7]:
df.isnull().sum()

BsmtQual        37
FireplaceQu    690
GarageType      81
SalePrice        0
dtype: int64

In [8]:
df.isnull().mean()

BsmtQual       0.025342
FireplaceQu    0.472603
GarageType     0.055479
SalePrice      0.000000
dtype: float64

In [9]:
# since the garagetype and bsmtQual has less no.of null values we can replace with most frequent occuring value

In [10]:
# compute the frequenct every feature

In [14]:
df['GarageType'].value_counts()

Attchd     870
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: GarageType, dtype: int64

In [15]:
df['BsmtQual'].value_counts()

TA    649
Gd    618
Ex    121
Fa     35
Name: BsmtQual, dtype: int64

In [16]:
df['FireplaceQu'].value_counts()

Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: FireplaceQu, dtype: int64

In [47]:
  df['Garage_Tye']=df['GarageType'].replace("NAN","Attchd",inplace=True)

In [48]:
df['GarageType'].value_counts()

Attchd     951
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: GarageType, dtype: int64

In [49]:
df['GarageType'].isnull().sum()

0

In [50]:
most_frequent=df['GarageType'].value_counts().index[0]
print(most_frequent)

Attchd

In [51]:
def impute_nan(df,variable):
    most_frequent_value=df[variable].value_counts().index[0]
    df[variable].fillna(most_frequent_value,inplace=True)

In [52]:
impute_nan(df,'GarageType')

In [53]:
df

     BsmtQual FireplaceQu GarageType  SalePrice GarageTye Garage_Tye
0          Gd         NaN     Attchd     208500    Attchd       None
1          Gd          TA     Attchd     181500    Attchd       None
2          Gd          TA     Attchd     223500    Attchd       None
3          TA          Gd     Detchd     140000    Detchd       None
4          Gd          TA     Attchd     250000    Attchd       None
...       ...         ...        ...        ...       ...        ...
1455       Gd          TA     Attchd     175000    Attchd       None
1456       Gd          TA     Attchd     210000    Attchd       None
1457       TA          Gd     Attchd     266500    Attchd       None
1458       TA         NaN     Attchd     142125    Attchd       None
1459       TA         NaN     Attchd     147500    Attchd       None

[1460 rows x 6 columns]

In [54]:
impute_nan(df,'BsmtQual')

In [55]:
df

     BsmtQual FireplaceQu GarageType  SalePrice GarageTye Garage_Tye
0          Gd         NaN     Attchd     208500    Attchd       None
1          Gd          TA     Attchd     181500    Attchd       None
2          Gd          TA     Attchd     223500    Attchd       None
3          TA          Gd     Detchd     140000    Detchd       None
4          Gd          TA     Attchd     250000    Attchd       None
...       ...         ...        ...        ...       ...        ...
1455       Gd          TA     Attchd     175000    Attchd       None
1456       Gd          TA     Attchd     210000    Attchd       None
1457       TA          Gd     Attchd     266500    Attchd       None
1458       TA         NaN     Attchd     142125    Attchd       None
1459       TA         NaN     Attchd     147500    Attchd       None

[1460 rows x 6 columns]

In [56]:
df['BsmtQual'].isnull().sum()

0

In [57]:
df['BsmtQual'].value_counts()

TA    686
Gd    618
Ex    121
Fa     35
Name: BsmtQual, dtype: int64

In [58]:
df['Garage_Tye'].isnull().sum()

1460

In [59]:
df['Garage_Tye'].value_counts()

Series([], Name: Garage_Tye, dtype: int64)

In [60]:
df.drop(['GarageType'],axis=1)

     BsmtQual FireplaceQu  SalePrice GarageTye Garage_Tye
0          Gd         NaN     208500    Attchd       None
1          Gd          TA     181500    Attchd       None
2          Gd          TA     223500    Attchd       None
3          TA          Gd     140000    Detchd       None
4          Gd          TA     250000    Attchd       None
...       ...         ...        ...       ...        ...
1455       Gd          TA     175000    Attchd       None
1456       Gd          TA     210000    Attchd       None
1457       TA          Gd     266500    Attchd       None
1458       TA         NaN     142125    Attchd       None
1459       TA         NaN     147500    Attchd       None

[1460 rows x 5 columns]

In [61]:
## capturing the nan values with new varibale

In [66]:
import numpy as np
df['BsmtQual_var']=np.where(df['BsmtQual'].isnull(),1,0)

In [67]:
df

,BsmtQual,FireplaceQu,GarageType,SalePrice,GarageTye,Garage_Tye,BsmtQual_var
0,Gd,NaN,Attchd,208500,Attchd,None,0
1,Gd,TA,Attchd,181500,Attchd,None,0
2,Gd,TA,Attchd,223500,Attchd,None,0
3,TA,Gd,Detchd,140000,Detchd,None,0
4,Gd,TA,Attchd,250000,Attchd,None,0
...,...,...,...,...,...,...,...
1455,Gd,TA,Attchd,175000,Attchd,None,0
1456,Gd,TA,Attchd,210000,Attchd,None,0
1457,TA,Gd,Attchd,266500,Attchd,None,0
1458,TA,NaN,Attchd,142125,Attchd,None,0
1459,TA,NaN,Attchd,147500,Attchd,None,0

In [76]:
### another way to use most frequent category
frequent=df['FireplaceQu'].mode()[0]
print(frequent)

Gd

In [79]:
df['FireplaceQu'].fillna(frequent,inplace=True)

In [84]:
df['FireplaceQu'].value_counts()

Gd    1070
TA     313
Fa      33
Ex      24
Po      20
Name: FireplaceQu, dtype: int64

In [85]:
df

,BsmtQual,FireplaceQu,GarageType,SalePrice,GarageTye,Garage_Tye,BsmtQual_var,FirePlaceQu
0,Gd,Gd,Attchd,208500,Attchd,None,0,None
1,Gd,TA,Attchd,181500,Attchd,None,0,None
2,Gd,TA,Attchd,223500,Attchd,None,0,None
3,TA,Gd,Detchd,140000,Detchd,None,0,None
4,Gd,TA,Attchd,250000,Attchd,None,0,None
...,...,...,...,...,...,...,...,...
1455,Gd,TA,Attchd,175000,Attchd,None,0,None
1456,Gd,TA,Attchd,210000,Attchd,None,0,None
1457,TA,Gd,Attchd,266500,Attchd,None,0,None
1458,TA,Gd,Attchd,142125,Attchd,None,0,None
1459,TA,Gd,Attchd,147500,Attchd,None,0,None